{% extends 'base.html' %}
{% block content %}
{% load i18n %}
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-5">{% trans "How to order" %}</h1>
        <!--p class="lead">{% trans "All products are presented here" %}</p-->
      </div>
    </div>

    <div class="container">
	    <div class="row">
				<div class="col" style="margin-bottom: 10px; padding: 0px 5px;">
					<div class="card" style="">
						<p>Если вам приглянулась какая-либо из представленных в портфолио работ и вы хотите заказать или задать интересующий вопрос, напишите мне. Все контакты можно найти на этом сайте. <a href="{% url 'contacts' %}">{% trans "Contacts" %}</a></p>
						<h4>Оплата</h4>
						<p>Стоимость индивидуального заказа обговаривается на этапе обсуждения. Она зависит от размеров, фурнитуры и сложности работы. Предоплата 30% от общей стоимости заказа. Эта сумма идет на покупку материалов, необходимых для изготовления заказа. После изготовления изделия я обязательно высылаю все фотографии готовой работы, выставляю итоговый счет.</p>
						<h4>Доставка</h4>
						<p>Доставка по России не осуществляется.</p>

					</div>
				</div>
		</div>
    </div>
{% endblock %}