{% extends 'base.html' %}
{% block content %}
{% load i18n %}
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-5">{% trans "How to order" %}</h1>
        <p class="lead">{% trans "Если Вы хотите задать вопрос или сделать заказ, напишите мне. Все контакты можно найти на этом сайте." %} <a href="{% url 'contacts' %}">{% trans "Contacts" %}</a> 	</p>
      </div>
    </div>

    <div class="container">
	    <div class="row">
				<div class="col" style="margin-bottom: 10px; padding: 0px 5px;">
					<div class="card" style="">
						<h4>Оплата</h4>
						<p>Стоимость готовых работ будет указана по запросу в личном сообщении <a href="https://vk.com/luxuryofnature" target="_blank" >{% trans "Luxury of nature" %}</a>.
Стоимость индивидуального заказа обговаривается на стадии обсуждения и зависит от размеров флорариума или моссариума, от колличества и редкости используемых растений и декоративных элементов, а так же от сложности работы. Предоплата составляет 50% от общей стоимости заказа и будет потрачена на покупку всего необходимого для изготовления флорариума или моссариума. Когда работа будет завершена, Вам будут направлены фотографии готового флорариума или моссариума и выставлен итоговый счёт.</p>
						<h4>Доставка</h4>
						<p>Возможна доставка по г.Сыктывкар и Эжвинскому району г.Сыктывкар по предварительной договорённости.</p>

					</div>
				</div>
		</div>
    </div>
{% endblock %}