<!doctype html>
<html lang="en">
{% load static %}
{% load i18n %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta property="og:title" content="{% trans 'luxury of nature' %}" />
    <meta about="{% trans 'Florarium' %}" />
    <meta name="description" property="og:description" content="{% trans 'Luxury of nature' %}" />
    <meta name="keywords" content="{% trans 'Florarium' %} luxury of nature" />
    <meta property="og:url" content="{{ ogurl }}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'ico/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/photogallery.css' %}" />
    <title>{% trans "luxury of nature" %}</title>
  </head>
  <body style="background: #fdfdfd;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">{% trans "luxury of nature" %}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">{% trans "Florariums" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'howtoorder' %}">{% trans "How to order" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacts' %}">{% trans "Contacts" %}</a>
          </li>
        </ul>

        <form action="{% url 'search_result' %}" class="form-inline my-2 my-lg-0" method="get">
          <input name="q" class="form-control mr-sm-2" type="search" placeholder="{% trans 'Search' %}" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
        </form>
      </div>
    </nav>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">{% trans "Top" %}</a>
        </p>
        <p>{% trans 'luxury of nature' %} © 2023</p>

      </div>
    </footer>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/photogallery.js' %}"></script>

    <script>
      $(document).ready(function(){
        $('ul.first').bsPhotoGallery({
          "classes" : "col-xl-3 col-lg-4 col-md-5 col-sm-6 col-8",
          "hasModal" : true,
          "shortText" : false
        });
      });
    </script>
  </body>
</html>